$bg-color: #424242;
$hl-color: #2196F3;
$muted-color: mix(white, $bg-color, 70%);
$trans-time: 300ms;
$width: 320px;
$themeColor: #FFFFFF;
$borderColor: #6b717f;


*,
:before,
:after {
  box-sizing: border-box;
}

body {
  background: #ECEFF1;
}

ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.todoForm {
  margin-left: auto;
  margin-right: auto;
  text-align:center;
}
.flex-container {
    height: 100%;
    padding-top: 3%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.row {
    width: auto;
}
.flex-item {
  border-radius: 4px;
  background: #fff;
  margin: 15px;
  height: 50px;
  width: 300px;
}
.todoItem {
  display: flex;
  justify-content: space-between;
}
.deleteButton {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background: #EF5350;
  border-color: #F44336;
  color: white;
  height: 50px;
  float: right;

}

.flex-item {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.flex-item:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
